Data/
models/
*.json
__pycache__
.ipynb_checkpoints/functions-checkpoint.py
.ipynb_checkpoints/info_extraction_llm_validation-checkpoint.ipynb
.ipynb_checkpoints/LLM_accuracy-checkpoint.ipynb
.ipynb_checkpoints/LLM_functions-checkpoint.ipynb
.ipynb_checkpoints/plot_functions-checkpoint.ipynb
*-checkpoint.ipynb
.ipynb_checkpoints/LLM_functions-checkpoint.py
.ipynb_checkpoints/plot_functions-checkpoint.py
.ipynb_checkpoints/text_processing_functions-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
src/test/reverse_geocode_cache.db
scripts/reverse_geocode_cache.db
notebooks/reverse_geocode_cache.db
notebooks/reverse_geocode_cache.db.lock
analysis/reverse_geocode_cache.db
scripts/reverse_geocode_cache.db.lock
scripts/reverse_geocode_cache.db.lock
analysis/reverse_geocode_cache.db
